node_modules
.DS_Store
dist
dist-ssr
*.local
coverage
.eslintcache
.nvmrc
*.code-workspace
dev-dist
.turbo
.env
.env.*
GoogleService-Info*.plist
google-services*.json
.secrets.nhost
.secrets
.nhost
.git_bak
script.sh
schema.graphql
